  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Overpass:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

:root{
 --Light-Cyan: hsl(193, 38%, 86%);
 --Neon-Green: hsl(150, 100%, 66%);
 --Grayish-Blue: hsl(217, 19%, 38%);
 --Dark-Grayish-Blue: hsl(217, 19%, 24%);
 --Dark-Blue: hsl(218, 23%, 16%);
}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 background: var(--Dark-Blue);
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 flex-direction: column;
 font-family: 'Manrope', sans-serif;;
}

.main{
  background-color: var(--Dark-Blue);
  display: grid;
  justify-content: center;
  flex-direction: column; 
  height: 200px;
  width: auto;
  border-radius: 15px;
  align-items: center;
  display: flex;

}
.wrapper{
  background-color: var(--Dark-Grayish-Blue);
  height: 100vh;
  width: 580px;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 10%;
  border-radius: 15px;
  text-align: center;
}

.wrapper header{
   font-weight: 800;
   font-size: 15px;
   font: bold;
   text-transform: capitalize;
   color: var(--Neon-Green);
   margin-bottom: 20px;
}

.quote-area{
  color: var(--Light-Cyan);
  display: flex;
  font-weight: 500;
  margin: 10px;
  margin-bottom: 20px;
}
.quote-area p{
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.author{
  display: flex;
  float: right;
  color: var(--Light-Cyan);
  font-weight: 400;
}

.line{
  margin: 25px;
  padding-top: 35px;
  
}
.line img{
  width: 440px;
  margin-left: -20px;
}
.content{
  margin-right: 30px;
}


.button{
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid var(--Neon-Green);
  background-color: var(--Neon-Green);
  margin-left: 193px;
  margin-top: 30px;
  position: fixed;
}

.button:hover,
.button:focus {
box-shadow: inset 4px var(--Light-Cyan);
cursor: pointer;
}

.button:hover{
  background-color: var(--Light-Cyan);
  box-shadow: none;
}





